<% if left %>
  <div class="showcase-item left-item">
    <div class="image">
      <%= image_tag item.profile_picture %>
    </div>
<% else %>
  <div class="showcase-item right-item">
<% end %>
  <div class="item-content">
    <h3>
      <%= item.title %>
    </h3>
    <div class="meta">
      <p class="owner"><%= item.owner %>
      <%= link_to truncate(URI.parse(item.link).host + URI.parse(item.link).path, length: 22, omission: '...'), item.link %></p>
    </div>
    <div class="text">
        <%= item.description.html_safe.truncate_words(40) %>
    </div>
  </div>
  <% if !left %>
    <div class="image">
      <%= image_tag item.profile_picture %>
    </div>
  <% end %>
</div>