<% include partials/header %>

<div id="cont" class="container mt-4">
    <p class="h2"> <%= moduleInfo.moduleName %></p>
    <p class="h3 mb-3"><%= moduleInfo.moduleCode %></p>
    <p class="h5">taught by:</p>
    <% moduleInfo.lecturers.forEach(function(lecturer){ %>
    <p class="h4"><%= lecturer.lecturerName %></p>
    <% }); %>

    <p class="h6 mt-4"><%= moduleInfo.moduleDescription %></p>

    <p class="h5 mt-4">comments:</p>
    <% moduleInfo.moduleComments.forEach(function(comment){ %>
        <div class="container comment pt-4 m-2 border rounded-lg">
            <p class="h6"> <%= comment.comment %> </p> 

            <div class="row mt-4">
            <p class="h7 col"> <%= comment.alias %></p> 
            <span id="date" class="col text-right mr-3"><%= comment.created.getDate() %>/<%= comment.created.getMonth() + 1 %>/<%= comment.created.getFullYear() %> </span>
            </div>
        </div>
    <% }); %>

    <form class="mt-5"> 
        <div class="form-group w-50">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="TCD Email">
          <small id="emailHelp" class="form-text text-muted">You will be sent a verifcation email.</small>
        </div>
        <div class="form-group w-50">
            <input class="form-control" type="text" placeholder="Alias">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Comment</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</div>
<script src="scripts/burgerExpandPageMove.js"></script>

<% include partials/footer %>