<section id="events">
  <h1>Upcoming Events</h1>
  <%= render 'events/listing' %>
  <div class="more-events">
    <%= link_to "More events...", upcoming_events_path %>
  </div>
</section>

<section id="services">
  <h1>Our Services</h1>
  <% @services.each_with_index do |service, index| %>
    <div class="service">
      <% if index % 2 == 1 %>
        <div class="left">
          <h2><%= service.title %></h2>
          <%= service.description.html_safe %>
        </div>
        <figure class="right">
          <%= image_tag(service.image.url(:normal), alt: service.title.downcase) %>
        </figure>
      <% else %>
        <figure class="left">
          <%= image_tag(service.image.url(:normal), alt: service.title.downcase) %>
        </figure>
        <div class="right">
          <h2><%= service.title %></h2>
          <%= service.description.html_safe %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>

<section id="contact">
  <h1>Contact Us</h1>
  <!-- CONTACT FORM -->
</section>
