<ul class="tabs horizontal row" data-tab data-options="deep_linking:true;">
  <li class="small-6 medium-3 end text-center tab-title active"><a href="#services">Services</a></li>
  <li class="small-6 medium-3 end text-center tab-title"><a href="#contact">Contact Us</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="services">
    <ul class="services-orbit" data-orbit data-options="bullets:true;variable_height:true;timer:false;slide_number:false;">
      <% @services.each_with_index do |service, index| %>
        <% if index == 0 %>
          <li class="active" data-orbit-slide="<%= index %>">
        <% else %>
          <li data-orbit-slide="<%= index %>">
        <% end %>
          <div class="row service">
            <div class="small-12 columns text-center">
              <%= image_tag(service.image.url(:normal), alt: service.title.downcase) %>
            </div>
            <div class="small-10 small-centered columns text">
              <h2><%= service.title %></h2>
              <%= service.description.html_safe %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <%= render 'contact_form' %>
</div>
