<% provide :title, "#{type} Events" %>
<div class="tab-button-container">
  <div class="<%= type == 'Upcoming' ? 'active-tab' : '' %> tab">
    <%= link_to 'Upcoming Events', upcoming_events_path %>
  </div>
  <div class="<%= type == 'Previous' ? 'active-tab' : '' %> tab">
    <%= link_to 'Previous Events', previous_events_path %>
  </div>
</div>
<section id="events">
  <%= render 'listing' %>
</section>
