<%= javascript_include_tag 'event' %>
<% provide :title, "#{type} Events" %>
<div class="events-container">
  <div class="row">
    <div class="small-12 text-center columns">
      <ul class="button-group radius">
        <li>
          <%= link_to "Upcoming Events", upcoming_events_path, class: (type == 'Upcoming')? 'active button': 'button' %>
        </li>
        <li>
          <%= link_to "Previous Events", previous_events_path, class: (type == 'Previous')? 'active button': 'button' %>
        </li>
      </ul>
    </div>
  </div>
  <div class="tabs-content">
    <div class="events-listing" id="events">
      <div class="row">
        <div class="small-12 medium-7 columns">
          <%= render 'listing' %>
        </div>
        <div class="show-for-medium-up medium-5 columns calendar-container">
          <%= render 'calendar' %>
        </div>
      </div>
    </div>
  </div>
</div>
