<li class="accordion-navigation active internship">
  <div class="internship-item left-item">
    <div class="image">
      <%= image_tag internship.company_logo, class: "company-logo" %>
    </div>
    <div class="item-content">
      <h3>
        <%= internship.job_title %>
      </h3>
      <h5>
        Company: <%= internship.company_name %>
      </h5>
      <h5>
        Location: <%= internship.job_location %>
      </h5>
      <div class="apply-container">
        <%= link_to internship.apply_link, target: "_blank" do %>
          <div class="button radius apply-btn">More Info</div>
        <% end %>
      </div>
    </div>
  </div>
</li>
