<div class="card">
  <%= link_to (image_tag event.thumbnail.url(:normal)), show_event_path(event.slug) %>
  <div class="content">
    <h3><%= link_to event.title, show_event_path(event.slug) %></h3>
    <div class="meta">
      <div class="location"><%= event.location %></div>
      <div class="date"><%= event.date.strftime "%-d %b %Y %H:%M" %></div>
    </div>
    <div class="text">
      <% if summary %>
        <%= sanitize(event.description, tags: []).truncate_words(20) %>
      <% else %>
        <%= event.description.html_safe %>
      <% end %>
    </div>
  </div>
</div>
