<div id="header" class="header">
  <div class="width-constraint">
    <%= link_to image_tag("nav-logo.png", alt: "DUCSS", id: "logo"), root_path, class: "nav-logo" %>
    <div class="hamburger">
      <%= image_tag "hamburger.png", onclick: "toggleMenu()" %>
    </div>
    <div id="header-menu" class="nav-link-container">
      <hr>
      <ul class="snip1217">
        <li id="home-nav"><%= link_to "Home", root_path(fromHome: true) %></li>
        <li id="event-nav"><%= link_to "Events", all_events_path %></li>
        <li id="contact-nav"><a id="contact-button" href="#" data-reveal-id="contact">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="contact" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <% if @message %>
    <%= render "layouts/modal" %>
  <% end %>
</div>
