<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= yield :javascript_includes %>
    <%= csrf_meta_tags %>

    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/favicon' %>

    <link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">

    <!-- Metadata -->
    <meta name="description" content="Home to the Dublin University Computer Science Society, find information about upcoming and past events, see a list of our unique services and view our expansive library within.">
    <meta name="keywords" content="Trinity College Dublin Computer Science,Computer Science Society,Programming Society,Irish Computer Science,Netsoc,Irish Netsoc,Irish Esports,Esports,TCD,TCD Computer Science, Hackathon, Irish Hackathon, Student Programming, Irish Programming">
    <link rel="canonical" href="<%= request.original_url %>" />

    <!-- Facebook Metadata -->
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= request.base_url %><%= asset_path('nav-logo.png') %>">
    <meta property="og:description" content="<%= if !yield(:description).empty? then yield(:description) else 'Home to the Dublin University Computer Science Society, find information about upcoming and past events, see a list of our unique services and view our expansive library within.' end %>">
    <meta property="og:title" content="<%= full_title(yield(:title)) %>">
    <meta property="og:site_name" content="Dublin University Computer Science Society">
    <meta property="og:see_also" content="www.ducss.ie">

    <!-- Twitter Metadata -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="@ducss">
    <meta name="twitter:title" content="<%= full_title(yield(:title)) %>">
    <meta name="twitter:description" content="<%= if yield(:description) then yield(:description) else 'Home to the Dublin University Computer Science Society, find information about upcoming and past events, see a list of our unique services and view our expansive library within.' end %>">
    <meta name="twitter:image" content="<%= request.base_url %><%= asset_path('nav-logo.png') %>">

    <%= render 'layouts/analytics' %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
